In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
df=pd.read_csv(r"C:\Users\sande\Downloads\order_data 1 1.csv")

In [4]:
df

,order_id,customer_id,order_date,order_amount,order_status,product_category
0,892a07a4-d252-4775-85e0-73077143e1c6,966,2024-11-27,317.64,Cancelled,Home & Garden
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
4,925ab5b1-adb1-4302-a70b-1c2db724e02b,817,2023-04-19,264.53,Pending,Home & Garden
...,...,...,...,...,...,...
1995,cb6f0f6b-3d4b-402c-ba9e-a8e666422d97,799,2023-11-20,634.62,Cancelled,Clothing
1996,900fdea4-fd87-486d-bc20-26d045767ed8,692,2023-07-20,945.97,Cancelled,Electronics
1997,4550ccfe-18c1-45d5-8c31-0edf1e3d9fa3,695,2024-01-06,229.99,Cancelled,Home & Garden
1998,dd19b028-dfa2-4eda-a66f-44f5401ef27e,502,2023-02-05,596.65,Completed,Electronics
1999,5e32ff66-d3dd-48ad-8e47-cd71bb2e97ea,348,2024-11-02,238.69,Completed,Books

In [5]:
df.dropna(subset=['order_amount'])

,order_id,customer_id,order_date,order_amount,order_status,product_category
0,892a07a4-d252-4775-85e0-73077143e1c6,966,2024-11-27,317.64,Cancelled,Home & Garden
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
4,925ab5b1-adb1-4302-a70b-1c2db724e02b,817,2023-04-19,264.53,Pending,Home & Garden
...,...,...,...,...,...,...
1995,cb6f0f6b-3d4b-402c-ba9e-a8e666422d97,799,2023-11-20,634.62,Cancelled,Clothing
1996,900fdea4-fd87-486d-bc20-26d045767ed8,692,2023-07-20,945.97,Cancelled,Electronics
1997,4550ccfe-18c1-45d5-8c31-0edf1e3d9fa3,695,2024-01-06,229.99,Cancelled,Home & Garden
1998,dd19b028-dfa2-4eda-a66f-44f5401ef27e,502,2023-02-05,596.65,Completed,Electronics
1999,5e32ff66-d3dd-48ad-8e47-cd71bb2e97ea,348,2024-11-02,238.69,Completed,Books

In [6]:
df['order_date']=pd.to_date(df['order_date'],format='mixed')

AttributeError: module 'pandas' has no attribute 'to_date'

In [7]:
df['order_date']=pd.to_datetime(df['order_date'],format='mixed')

In [8]:
df

,order_id,customer_id,order_date,order_amount,order_status,product_category
0,892a07a4-d252-4775-85e0-73077143e1c6,966,2024-11-27,317.64,Cancelled,Home & Garden
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
4,925ab5b1-adb1-4302-a70b-1c2db724e02b,817,2023-04-19,264.53,Pending,Home & Garden
...,...,...,...,...,...,...
1995,cb6f0f6b-3d4b-402c-ba9e-a8e666422d97,799,2023-11-20,634.62,Cancelled,Clothing
1996,900fdea4-fd87-486d-bc20-26d045767ed8,692,2023-07-20,945.97,Cancelled,Electronics
1997,4550ccfe-18c1-45d5-8c31-0edf1e3d9fa3,695,2024-01-06,229.99,Cancelled,Home & Garden
1998,dd19b028-dfa2-4eda-a66f-44f5401ef27e,502,2023-02-05,596.65,Completed,Electronics
1999,5e32ff66-d3dd-48ad-8e47-cd71bb2e97ea,348,2024-11-02,238.69,Completed,Books

In [14]:
df['order_amount'].dtype

dtype('float64')

In [46]:
df['order_amount']=pd.to_numeric(df['order_amount'],errors='coerce')

In [47]:
df['order_amount'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2000 entries, 0 to 1999
Series name: order_amount
Non-Null Count  Dtype
--------------  -----
2000 non-null   float64
dtypes: float64(1)
memory usage: 15.8 KB

In [48]:
df['order_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2000 entries, 0 to 1999
Series name: order_date
Non-Null Count  Dtype
--------------  -----
2000 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 15.8 KB

In [49]:
df['customer_id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2000 entries, 0 to 1999
Series name: customer_id
Non-Null Count  Dtype
--------------  -----
2000 non-null   int64
dtypes: int64(1)
memory usage: 15.8 KB

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2000 non-null   object
 1   customer_id       2000 non-null   int64
 2   order_date        2000 non-null   datetime64[ns]
 3   order_amount      2000 non-null   float64
 4   order_status      2000 non-null   object
 5   product_category  2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 93.9+ KB

In [51]:
df['product_category'].value_counts()

product_category
Home & Garden    457
Clothing         410
Electronics      381
Books            380
Toys             372
Name: count, dtype: int64

In [52]:
max_amount=df['order_amount'].max()

In [53]:
max_amount

999.99

In [54]:
df['order_amount'].mean()

513.69042

In [55]:
mean_highest_details=df[df['order_amount']>(df['order_amount'].mean())]

In [56]:
mean_highest_details

,order_id,customer_id,order_date,order_amount,order_status,product_category
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
5,d95500d8-bcde-4e12-a2e5-bfc1e3d61c24,759,2023-04-20,517.90,Cancelled,Clothing
6,42bdae5f-8f5e-45c1-9537-05cb135868ae,444,2024-10-07,890.04,Pending,Home & Garden
...,...,...,...,...,...,...
1991,d960ded5-2e36-410a-9661-64ceb9e38ee0,367,2023-01-03,985.12,Cancelled,Electronics
1992,0d068178-0ad6-4e88-b6e5-dcd877b9edbd,942,2024-12-12,978.56,Completed,Books
1995,cb6f0f6b-3d4b-402c-ba9e-a8e666422d97,799,2023-11-20,634.62,Cancelled,Clothing
1996,900fdea4-fd87-486d-bc20-26d045767ed8,692,2023-07-20,945.97,Cancelled,Electronics
1998,dd19b028-dfa2-4eda-a66f-44f5401ef27e,502,2023-02-05,596.65,Completed,Electronics

In [57]:
#since we dont have order_details where order_amount greater than 1000, we choose 500 and start filetering

In [58]:
max_amount_orders=df[df['order_amount']>500]

In [59]:
max_amount_orders

,order_id,customer_id,order_date,order_amount,order_status,product_category
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
5,d95500d8-bcde-4e12-a2e5-bfc1e3d61c24,759,2023-04-20,517.90,Cancelled,Clothing
6,42bdae5f-8f5e-45c1-9537-05cb135868ae,444,2024-10-07,890.04,Pending,Home & Garden
...,...,...,...,...,...,...
1991,d960ded5-2e36-410a-9661-64ceb9e38ee0,367,2023-01-03,985.12,Cancelled,Electronics
1992,0d068178-0ad6-4e88-b6e5-dcd877b9edbd,942,2024-12-12,978.56,Completed,Books
1995,cb6f0f6b-3d4b-402c-ba9e-a8e666422d97,799,2023-11-20,634.62,Cancelled,Clothing
1996,900fdea4-fd87-486d-bc20-26d045767ed8,692,2023-07-20,945.97,Cancelled,Electronics
1998,dd19b028-dfa2-4eda-a66f-44f5401ef27e,502,2023-02-05,596.65,Completed,Electronics

In [60]:
df['customer_id'].nunique()

868

In [61]:
df['order_id'].nunique()

2000

In [62]:
max_amount_orders.to_csv('MaxAmountOrders.csv',index=False)

In [63]:
mean_highest_details.to_csv('MeanHighestOrders.csv',index=False)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2000 non-null   object
 1   customer_id       2000 non-null   int64
 2   order_date        2000 non-null   datetime64[ns]
 3   order_amount      2000 non-null   float64
 4   order_status      2000 non-null   object
 5   product_category  2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 93.9+ KB

In [65]:
df['order_status'].value_counts()

order_status
Pending      692
Cancelled    679
Completed    629
Name: count, dtype: int64

In [67]:
df[['order_date','order_amount']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_date    2000 non-null   datetime64[ns]
 1   order_amount  2000 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 31.4 KB

In [68]:
max_amount_orders.to_excel('MaxAmountOrders.xlsx',index=False)
mean_highest_details.to_excel('MeanHighestOrders.xlsx',index=False)